@charset "utf-8";

*::after,
*::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    opacity: 0.6;
}

body {
    font-family: "游ゴシ�?ク�?", YuGothic, "游ゴシ�?ク Medium", "Yu Gothic Medium", "游ゴシ�?ク Bold", "Yu Gothic Bold", "游ゴシ�?ク", "Yu Gothic", sans-serif;
    background-color: #F9F1E7;
    color: #352d21;
}


h2 {
    text-align: center;
    margin: 0 auto;
    letter-spacing: 0.2rem;
    border-bottom: 2px solid #352d21;
    width: 280px;
}

h3 {
    margin-top: 40px;
    margin-bottom: 20px;
}

.row {
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
}

li {
    list-style-type: none;
}


/* allここまで */

/* header */

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 40px;
}

.w-container {
    width: 80%;
    margin: 0 auto;
}

.header-logo {
    display: block;
    width: 50px;
}

.header-site-menu ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

/* headerここまで*/



.profile {
    margin: 0 auto;
}

.hero {
    display: flex;
    flex: 0 0 50%;
    width: 90%;
    max-width: 100%;
    margin: 0 auto;
}

.profile-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 160px;
    margin-bottom: 160px;
    max-width: 100%;
    height: auto;
    position: relative;

}

.profile-img {
    display: block;
    width: 200px;
}

.name-top {
    color: #FA6E59;
    letter-spacing: 4px;
}

.name-bottom {
    color: #FA6E59;
    position: absolute;
    top: 4%;
    left: 20%;
    opacity: 0.3;
    letter-spacing: 4px;
}

.skill-container figure img {
    width: 200px;
}

.skill-container ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    margin-top: 80px;
    margin-bottom: 160px;
}

.skill-container li {
    width: calc((100% - 340px) / 4);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.skill-container ul li h3 {
    text-align: center;
}

.skill-name {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: 0.08rem;
    text-align: center;
}

.works-name h3 {
    text-align: center;
    margin-top: 40px;
}

.web-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    justify-content: center;
    gap: 48px;
    margin: 40px 80px 160px 80px;
}

.site-name {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: 0.08rem;
    text-align: center;
}

.banner-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    justify-content: center;
    gap: 48px;
    margin: 40px 80px 160px 80px;
}

.likes-container {
    margin-top: 40px;
    margin-left: 100px;
    display: grid;
    grid-template-columns: repeat(4, 240px);
    column-gap: 100px;
    row-gap: 100px;
}

.likes-container .likes-name {
    position: absolute;
    font-size: 20px;
    transform: rotate(90deg);
    top: 390px;
    left: 215px;
}

.likes_2 {
    position: absolute;
    top: 80px;
}

.likes_3 {
    position: absolute;
    top: 160px;
}

.likes_4 {
    position: absolute;
    top: 240px;
}

.likes_6 {
    position: absolute;
    top: 80px;
}

.likes_7 {
    position: absolute;
    top: 160px;
}

.likes_8 {
    position: absolute;
    top: 240px;
}

.me {
    position: absolute;
    right: 50px;
    padding: 20px;
    width: 120px;
}

.relative {
    position: relative;
}




/* footer */

footer {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/* footer */

/* アニメーション↓ */

.fadeUpTrigger {
    opacity: 0;
}

.fadeUp {
    animation-name: fadeUpAnime;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeUpAnime {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* アニメーション↑ */

@media (max-width: 767px) {

    .main-container {
        max-width: 100%;
        margin: 0 30px;
    }
}